<!DOCTYPE html>
<html>
<head>
    <title>CodePlayground Home</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="/static/logo.png" alt="logo">CodePlayground</a>
        </div>

        <ul class="menu">
            <li id="HomeButton"><a href="{% url 'home' %}">Home</a></li>
            <li id="AboutButton"><a href="{% url 'about' %}">About Us</a></li>
            <li id="ContactButton"><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'login' %}"><ion-icon name="person-outline"></ion-icon></a></li>
        </ul>
    </nav>
    
    {% block home %}
    {% endblock %}

    <footer>
        <div class="cont">
            <ul class="flex-row">
                <li id="HomeButton"><a href="{% url 'home' %}">Home</a></li>
                <li id="AboutButton"><a href="{% url 'about' %}">About Us</a></li>
                <li id="ContactButton"><a href="{% url 'contact' %}">Contact Us</a></li>

            </ul>
            <p>Copyright &copy; 2022 CodePlayground</p>
        </div>
    </footer>
</body>
</html>