{% extends "myapp/home/homebase.html" %}

{% block home %}
<div class="Home" id="HomeShow">
    <br>
    <div class="Welcome">
        <h1>Welcome to CodePlayground!</h1>
        <p>CodePlayground is the leading platform to showcase and enhance your coding knowledge, and prepare yourself for upcoming tests and interviews. </p>
        <img class="homepage1pic" src="/static/homepage/homepage1.png" alt="student learning to code">
    </div>

    <br>
    <br>

    <div class="Explore">
        <h2>Explore!</h2>
        <p>Over 300+ students and professionals to help you reach your coding dreams, ask and explore the workspace!</p>
        <img class="homepage2pic" src="/static/homepage/homepage2.png" alt="student exploring other languages">
    </div>

    <br>
    <br>

    <div class="SignIn">
        <h2>Start Today!</h2>
        <p>Learn from your peers and sign up today, completely free! No need for any payments, we are a profit free company and would love to have you on board with us!</p>
        <button class="SignInButton" type="button"><a class="button-text-color" href="{% url 'login' %}">Sign Up Today!</a></button>
        <img class="homepage3pic" src="/static/homepage/homepage3.png" alt="awards">
    </div>

    <br>
</div>
{% endblock %}
