textarea {
    resize: none;
    width: 60%;
    height: 30%;
    position: absolute;
    margin-left: 20%;
    margin-top: 16%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin-bottom: 100px;
    top: 85;
}

.bigbox {
    float: left;
    width: 410px;
    font-size: 35px;
    text-align: left;
    margin-left: 408px;
    margin-bottom: 15px;
    margin-top: 10px;
}




input[type=text],
select {
    width: 300px;
    font-size: 28px;
    padding: 12px 20px;
    margin: 0 auto;
    margin-left: 395px;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 15px;
}

input[type=title],
select {
    width: 600px;
    font-size: 28px;
    padding: 12px 20px;
    margin: 0 auto;
    margin-left: 395px;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 15px;
}

.discussionC {
    left: 77%;
    top: 70%;
    position: absolute;
    display: inline-block;
    background-color: rgb(6, 165, 6);
    border: 0px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    color: #fff;
    font-size: 24px;
    padding: 8px 26px;
}

.discussionC:hover {
    background-color: rgb(0, 66, 0);
}

body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  .main {
    flex-grow: 1;
  }
  
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav{
    background: rgb(6, 165, 6);
    display: flex;
    align-items: left;
    
  }
  
  nav a{
    color: #fff;
    font-size: 28px;
    text-decoration: none !important;
    transition: color 0.15s;
  }
  
  nav a:hover{
    
    display: inline-block;
    color: black;
    position: relative;
    
  
  
  }
  img[src="logo.png"]{
      border-radius: 50%;
      width: 90px;
    margin-top: 5px;
  }
  
  .logo a{
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #fff;
    
    
  }
  
  .logo a:hover{
    
    
    color: black;
    display: flex;
  
  }
  
  .logo img{
    width: 75px;
    
    
  }
  .logo{
    flex: 1;
    margin-left: 120px;
    
  }
  
  .menu{
    
    display: flex;
    list-style: none;
    
    
   
    
  }
  
  .menu li{ 
    padding: 8px 0px ;
    
    margin-right: 120px;
    
    
  }
  
  .navbar {
    border-bottom: 1px solid #333;
  
  }
  
  
  #dropdown li ul {
      position: absolute;
      margin-top:61px;
      margin-left:88%;
      padding:0px;
      left:0px;
      top:0px;
      display:none;
      border:none;
      background-color: #f9f9f9;
      list-style: none;
      text-align: center;
  }
  #dropdown li ul li {
      width:200px;
      font-size: 28px;
  }
  #dropdown li:hover ul {
      display:block;
      color: rgb(6, 165, 6);
  }
    #dropdown li ul li a {
      width:200px;
      font-size: 28px;
      color: black;
    }
    #dropdown li ul li a:hover {
      color: rgb(6, 165, 6);
    }
  
  .About-us {
    display: none;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 35px;
  
    
    width: 45%;
  
    
  }
  
  .About-us h1 {
    color:rgb(6, 165, 6);
  }
  
  .Home {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 35px;
  
    
    width: 45%;
  
    
  }
  
  .Home h1 {
    color:rgb(6, 165, 6);
  }
  
  .Home h2 {
    color:rgb(6, 165, 6);
  }
  
  .Contact-us {
    display: none;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 35px;
  
    
    width: 45%;
  
    
  }
  
  .Contact-us h1 {
    color:rgb(6, 165, 6);
  }
  
  .New-Post {
     left: 180;
     top: 165;
     position:absolute;
    display: inline-block;
    background-color:rgb(6, 165, 6);
    border: 0px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    color:#fff;
    font-size:24px;
    padding:8px 26px;
  }
  
  .New-Post:hover{
    background-color: rgb(0,66,0);
  }
  
  .Newest-button {
    left: 760;
    top: 165;
    position:absolute;
    display: inline-block;
    background-color:rgb(6, 165, 6);
    border: 0px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    color:#fff;
    font-size:24px;
    padding:8px 26px;
  }
  
  .Newest-button:hover{
    background-color: rgb(0,66,0);
  }
  
  .unanwsered-button {
    left: 920;
    top: 165;
    position:absolute;
    display: inline-block;
    background-color:rgb(6, 165, 6);
    border: 0px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    color:#fff;
    font-size:24px;
    padding:8px 26px;
  }
  
  .unanwsered-button:hover{
    background-color: rgb(0,66,0);
  }
  
  .QuestionTitileStyle {
    padding: 20px;
    font-size: 30px;
    width: 45%;
  }
  
  
  .QuestionTitileStyle a{
    color: rgb(8, 8, 8);
    font-size: 28px;
    text-decoration: none !important;
  }
  
  .QuestionTitileStyle a:hover{
    display: inline-block;
    color:rgb(6, 165, 6);
    position: relative;
  }
  
  .QuestionTitile p{
    margin-left: 2%;
    margin-right: 15%;
    font-size: 28px;
    color:rgb(15, 15, 15);
    border-radius: 4px;
  }
  
  
  
  .search-box {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: rgb(6, 165, 6);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }
  .search-btn {
    color: #0f0502;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
  }
  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn {
    background: white;
  }
    ::placeholder {
      font-size: 20px;
      color: white;
      opacity: 70%;
    }
  
  
  
  .Back-button {
    left: 200;
    top: 165;
    position:absolute;
    display: inline-block;
    background-color:rgb(6, 165, 6);
    border: 0px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    color:#fff;
    font-size:24px;
    padding:8px 26px;
  }
  
  .Back-button:hover{
    background-color: rgb(0,66,0);
  }
  
  
  .Anwser-button {
   left: 480;
   top: 165;
   position:absolute;
   display: inline-block;
   background-color:rgb(6, 165, 6);
   border: 0px;
   text-align: center;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
   border-radius: 15px;
   color:#fff;
   font-size:24px;
   padding:8px 26px;
  }
  
  .Anwser-button:hover{
    background-color: rgb(0,66,0);
  }
  
  .QuestionsPageTittle{
    margin-left: 2%;
    color: rgb(20, 20, 20);
    font-size: 30px;
    display: block; 
    width: 45%;
  }
  
  
  .QuestionsPageDetail{
    color:rgb(20, 20, 20);
    font-size: 30px;
    display: inline-block;
    text-align: left;
    border-radius: 4px;
  }
  
  .QuestionsPageNoA{
    margin-left: 2%;
    color: rgb(8, 8, 8);
    display: block;
    font-size: 30px;
    width: 45%;
  }
  
  .QuestionsPageAnwserDetail{
    margin-left: 2%;
    margin-right: 2%;
    color:rgb(20, 20, 20);
    font-size: 30px;
    display: inline-block;
    text-align: left;
    border-radius: 4px;
  }
  
  .AnswerPageTittle{
    margin-left: 2%;
    color: rgb(8, 8, 8);
    display: block;
    font-size: 30px;
    width: 45%;
  }
  
  
  .AnswerPageDetail{
    color:rgb(20, 20, 20);
    font-size: 20px;
    display: inline-block;
    text-align: left;
    border-radius: 4px;
  }
  
  .UserAnswerTittle{
    color: rgb(8, 8, 8);
    left: 18%;
    top: 580;
    position:absolute;
    display: block;
    font-size: 30px;
    width: 45%;
  }
  
  .button-text-color{
    color: white;
    text-decoration: none !important;
  }
  
  .QuestionTitile{
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:80%;
    height:35%;
    position:absolute;
    top:25%;
    margin-left:10%;
  }
  
  .QuestionsPageA{
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:80%;
    height:35%;
    position:absolute;
    top:65%;
    margin-left:10%;
  }
  
  footer {
    color: rgba(253, 253, 253, 0.466);
    background-color: rgb(6, 165, 6);
    margin-top: auto;
    height: 150px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
  
  }
  
  
  footer ul {
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  footer li {
      color: white;
      list-style-type: none;
      font-size: 24px;
      height: 11px;
      margin: 0 10px;
      padding: 0px 20px;
      display:inline;
      margin-top: 10px;
  }
  footer li a{
  
      text-decoration: none;
      color: white;
      font-size: 22px;
      font-weight: 700;
  }
  
  footer p {
    font-size: 22px;
  }
  
  .Home {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 35px;
    width: 45%;
  }
  

  
  
  input[type=submit] {
    background-color: rgb(6, 165, 6);
    border: none;
    color: white;
    font-size:24px;
    padding:8px 26px;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
  
  }
  input[type=submit]:hover{
    background-color: rgb(0,66,0);
  }
  
  .AnswerQuestionsShow {
      padding-bottom: 150px;
      height: 1000px;
  }
  
  .Questions {
      height: 1000px;
  }
  
  .delete-button {
    left: 90%;
    top: 80%;
    position:absolute;
   display: inline-block;
   background-color:rgb(6, 165, 6);
   border: 0px;
   text-align: center;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
   border-radius: 15px;
   color:#fff;
   font-size:24px;
   padding:8px 26px;
  }
  
  .delete-button:hover{
   background-color: rgb(0,66,0);
  }