<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="/static/landingpage/styles.css" >
</head>
<body>
  <div class="container">
    <div class="split left">
      <h1>The Creator</h1>
      <p>An alternative way to learn by writing your own exercises</p>
      <a href="{% url 'creatq' %}" class="button">Create your questions</a>
    </div>
    <div class="split right">
      <h1>The Solver</h1>
      <p>Try coding exercises customised and created by your peers</p>
      <a href="{% url 'quehome' 1 %}" class="button">Solve peer questions</a>
    </div>
  </div>
  <script src="/static/landingpage/index.js"></script>
</body>
</html>