<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Form</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/user/pass.css">
</head>
<body>


    <form action="{% url 'updatepass' %}" method="post">
        {% csrf_token %}
        <input type="button" class="mybutton" value="&times;" onclick="escape()">

        <label for="old-password">Current Password</label>

        <input type="password" id="old-password" name="oldpassword" placeholder="Enter old password">

        <label for="password">New Password</label>

        <input type="password" id="password" name="newpassword1" placeholder="Enter new password">

        <label for="cnfrm-password">Confirm Password</label>

        <input type="password" id="cnfrm-password" name="newpassword2" placeholder="Confirm password here">

        <p id="message"></p>
        <input type="submit" class="sub" value="SUBMIT" />

    </form>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
    <script src="/static/user/script.js"></script>
</body>
</html>